<div class="col-md-6">
    <div class="panel panel-primary resetPadding" ng-hide="vm.isHidePrinters">
        <div class="panel-heading">
            <div class="panel-title">
                Printers line
            </div>
        </div>

        <ul>
            <li class="border pointer"
                ng-repeat="printer in vm.printers"
                ng-click="vm.showPrinter(printer)"
                ng-class-odd="'oddTr'" ng-class-even="'evenTr'">
                {{printer.line}}
            </li>
        </ul>
    </div>
</div>

