.table-body,.table-body ul {
    padding: 0
}

.table-body>ul li,li {
    list-style-type: none
}

.ng-hide:not(.ng-hide-animate) {
    display: block!important;
    position: absolute;
    top: -9999px;
    left: -9999px
}

.sortable-placeholder {
    height: 20px;
    background-color: #b8f3ff
}

.dndDragging {
    height: 40px;
    background-color: #dfeffc;
}

.dndPlaceholder {
    height: 10px;
    width: 100%;
    background-color: #DBE5F1
}

.imagePreview img {
    width: 150px
}

.pointer {
    cursor: pointer
}

.oddTr{
    /*background-color: #428BCA;*/
    /*color: #fff;*/
}
.evenTr{

}
.resetPadding .panel-body{
    padding: 0;
}
.resetPadding .list-group{
    margin: 0;
}
.col-md-6 .resetPadding{
    padding: 0;
}
.resetPadding ul{
    padding: 0;
    margin-bottom: 0;
}
.border{
    border-bottom: 1px solid #dbe5f1;
    padding: 10px;
}
.border:last-child{
    border-bottom:none;
}