<div class="col-md-6">
    <div class="panel panel-primary resetPadding" ng-show="vm.isShowPrinter">

        <div class="panel-heading">
            <div class="panel-title">
                <div class="col-md-3">Order</div>
                <div class="col-md-3">item</div>
                <div class="col-md-3"></div>
                <div class="col-md-3"></div>
                <div class="clearfix"></div>
            </div>

        </div>

        <ul dnd-list="vm.ordersPrinter">
            <li class="border pointer"
                ng-repeat="order in vm.ordersPrinter"
                ng-init="$last ? vm.initSortable() : null">

                <span class="col-md-3">
                    {{order.orderName}}
                </span>
                <span class="col-md-3">
                    {{order.name}}
                </span>
                <span class="col-md-3">
                    <button type="button" class="btn btn-primary"
                            data-toggle="modal"
                            data-target="#modalWindow"

                            ng-click="vm.Preview(order)">
                        Preview
                    </button>
                </span>
                <span class="col-md-3">
                    <button type="button" class="btn btn-default"
                            ng-click="vm.RePrint()">
                        Re-print
                    </button>
                </span>
                <span class="clearfix"></span>

            </li>
        </ul>

    </div>
</div>

